@font-face {
  font-family: Typewriter;
  src: url('fonts/MonospaceTypewriter.ttf');
}


body {
    background-color: rgb(29, 29, 29);
}

.container {
    color: rgb(99, 99, 99);
    font-size: large;
    font: 19px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif,;
    font-family: Typewriter;
}

#tabs {

  border: 2px solid rgb(46, 46, 46);
  background: rgb(46, 46, 46);
  position: absolute;
  height: 0%;
  width: 90%;
  top: 30%;
  margin-left: 4.5%;
}

.jobs {
  font: inherit;
  font-weight: bold;
  color: white;
  border: 2px solid rgb(142, 235, 142);
  background-color: rgb(29, 29, 29);
  transition-duration: 0.4s;
  position: absolute;
  height: 6%;
  width: 8%;
  top: 20%;
  left: 10%;
}
.jobs:hover {
  background-color: rgb(142, 235, 142); 
}

#wormsJob {
  display: none;
  font: inherit;
  font-size: 24px;
  color: white;
  border: 2px solid rgb(142, 235, 142);
  background-color: rgb(29, 29, 29);
  position: absolute;
  height: 8%;
  width: 9.5%;
  top: 35%;
  left: 9.25%;
}
#wormsJob:hover + .wormsJob{
  display: block;
}
.wormsJob {
  display: none;
  font: inherit;
  color: white;
  border: 2px solid rgb(142, 235, 142);
  border-radius: 2px;
  background-color: rgb(29, 29, 29);
  position: absolute;
  height: 5%;
  top: 32%;
  left: 16.6%;
  z-index: 1;
}
.wormsJob:hover {
  display: block;
  font: inherit;
  color: white;
  border: 2px solid rgb(142, 235, 142);
  border-radius: 2px;
  background-color: rgb(29, 29, 29);
  position: absolute;
  height: 5%;
  top: 32%;
  left: 16.6%;
  z-index: 1;
}

.learn {
    font: inherit;
    font-weight: bold;
    color: white;
    border: 2px solid rgb(240, 128, 128);
    background-color: rgb(29, 29, 29);
    transition-duration: 0.4s;
    position: absolute;
    height: 6%;
    width: 8%;
    top: 20%;
    left: 20%;
}
.learn:hover {
  background-color: rgb(240, 128, 128);
}
.center {
  text-align: center;
}

.iqMain {
  text-align: center;
}

.Money {
  text-align: center;
}
#totalMoney {
  color: white;
}


.showIq {
    font-size: 32px;
    animation: colorRotate 8s infinite
}

.rainbow {
  font-size: 32px;
  animation: colorRotate 15s infinite
}

.iqMulti {
  position: absolute;
  top: 20%;
  display: none;
}

.welcome {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -15%;
}

.version {
  position: absolute;
  color: white;
}

.sellIq {
  font-family : inherit;
  font-size: 36px;
  transition-duration: 0.4s;
  border: rgb(112, 54, 54);
  border-radius: 2px;
  padding: 2%;
  width: 80%;
  background-color: rgb(112, 54, 54);
}
.sellIq:hover {
  background-color: rgb(100, 100, 100);
  color: black;
}

.addIq {
  font-family : inherit;
  font-size: 36px;
  transition-duration: 0.4s;
  border: rgb(29, 29, 29);
  border-radius: 2px;
  padding: 2%;
  width: 80%;
  background-color: rgb(71, 71, 71);
}
.addIq:hover {
  background-color: rgb(100, 100, 100);
  color: black;
}


.iqFooter {
  position: absolute;
  width: 50%;
  top: 80%;
  right: 25%;
  left: 50%;
  margin-left: -20%;
}

.sellFooter {
  position: absolute;
  width: 50%;
  top: 70%;
  right: 25%;
  left: 50%;
  margin-left: -20%;
}

.addIqMulti {
  position: absolute;
  top: 21.6%;
  left: 15%;
  font-family : inherit;
  font-size: 18px;
  transition-duration: 0.4s;
  border: rgb(129, 63, 63);
  border-radius: 2px;
  background-color: rgb(112, 52, 52);
  display: none;
}
.addIqMulti:hover {
  background-color: rgb(100, 100, 100);
  color: black;
}

#hideMainMenuButton {
  font-family : inherit;
  font-size: 36px;
  transition-duration: 0.4s;
  background-color: rgb(29, 29, 29);
  color: rgb(100, 100, 100);
  border: rgb(29, 29, 29);
  border-radius: 2px;
  padding: 2%;
  position: absolute;
  width: 30%;
  top: 60%;
  left: 50%;
  margin-left: -15%;
}
#start {
  font-family : inherit;
  font-size: 36px;
  transition-duration: 0.4s;
  background-color: rgb(112, 52, 52);
  border: rgb(129, 63, 63);
  border-radius: 2px;
  position: absolute;
  width: 99.5%;
  height: 98.3%;
  opacity: 0%;
}

#hideMainMenuButton:hover {
  background-color: rgb(100, 100, 100);
  color: black;
}

#showMainMenu {
  display: none;
  animation: fadeMenu 700ms ease-in-out both;
}

#hideMain {
  display: block;
}

@keyframes fadeMenu {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }